.rs-sidenav-item {
  padding: 0 !important;
  background: #3c3f43 !important;
}

.grid-row-testing {
  display: grid;
  grid-template-columns: 5rem 1rem;
  grid-gap: .1rem;
  grid-auto-flow: row;
  z-index: 2 !important;
}

.rs-sidenav-collapse-out .grid-row-testing img {
  margin-left: 10%;
  width: 60px !important;
  height: 45px !important;
}

img {
  border-radius: 25px !important;
}

.wrapper {
  display: flex;
}

/* .main {
  width: 100vh;
  height: 160vh;
  background-color: #0f131a;
} */

.sidebar {
  width: 240px;
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #1F1F23 !important;
  /* overflow-y: hidden; */
}

body {
  background-color: #ccc;
  font-family: sans-serif;
}

.simple-react-bar {
  height: 100%;
  overflow-y: auto;
}

.group-item {
  width: 18vh;
  height: 10vh;
  position: -webkit-sticky;
  position: sticky;
}

.simple-react-bar-group {
  height: 100vh;
  overflow-y: auto;
}

.simple-react-bar .simplebar-placeholder {
  height: auto !important;
}

.simple-react-bar-group .simplebar-placeholder {
  height: auto !important;
}