.rs-sidenav-item {
  padding: 0 !important;
  background: #3c3f43 !important;
}

.grid-row-testing {
  display: grid;
  grid-template-columns: 5rem 1rem;
  grid-gap: .1rem;
  grid-auto-flow: row;
  z-index: 2 !important;
}

.rs-sidenav-collapse-out .grid-row-testing img {
  margin-left: 10%;
  width: 45px !important;
  height: 45px !important;
}

img {
  border-radius: 25px !important;
}

.wrapper {
  display: flex;
}

.main {
  width: 82%;
  height: 150vh;
  background-color: #0f131a;
}

.sidebar {
  width: 18%;
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #3c3f43 !important;
  overflow-y: scroll;
}

body {
  background-color: #ccc;
  font-family: sans-serif;
}